{% extends "admin/base.html" %}
{% block title %}
Haqqımızda
{% endblock %}
{% block page %}
<div class="container">
    <h2>Haqqımızda səhifəsindəki Məlumatlar</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sıra</th>
                <th scope="col">Başlıq</th>
                <th scope="col">Açıqlama</th>
                <th scope="col">Şəkli</th>
                <th scope="col">Əməliyyat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{data.id}}</th>
                <td>{{data.title}}</td>
                <td>{{data.description}}</td>
                <td>{{data.image}}</td>
                <td>
                    <a href="/admin/about/update/{{data.id}}"><i class="bi bi-pencil-square"></i></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}