{% extends "admin/base.html" %}
{% block title %}
Əməkdaşlarımız
{% endblock %}
{% block page %}
<div class="container">
    <a href="/admin/header_slider/add"><button class="btn btn-primary">Slayd Əlavə Et</button></a>
    <h2>Başlıq hissədəki Slaylar</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Sıra</th>
            <th scope="col">Başlıq</th>
            <th scope="col">Açıqlama Mətni</th>
            <th scope="col">Şəkli</th>
        </tr>
        </thead>
        <tbody>
        {% for hSlide in hSlides %}
        <tr>
            <th>{{hSlide.id}}</th>
            <td>{{hSlide.title}}</td>
            <td>{{hSlide.description}}</td>
            <td>{{hSlide.image}}</td>
            <td>
                <a href="/admin/header_slider/delete/{{hSlide.id}}"><i class="bi bi-trash"></i></a>
                <a href="/admin/header_slider/update/{{hSlide.id}}"><i class="bi bi-pencil-square"></i></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}