{% extends "view/base.html" %}
{% block title %}
Əlaqə
{% endblock %}
{% block navBar %}
<div id="navbar">
    <div class="container">
        <div class="nav-items">
            <img class="logo" src="/view/static/view/img/logo_transparent2.png" alt="">
            <ul class="nav-links d-flex justify-content-end bootstrap-off">
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/">Əsas Səhifə</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/about">Haqqımızda</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/services">Xidmətlər</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li class="dd-effect">
                    <div class="link-container">
                        <a class="bootstrap-off" href="#">Proyektlər</a>
                        <div class="down-icon"><i class="fas fa-angle-down fa-lg"></i></div>
                        <div class="bg"></div>
                        <div class="dropdown-content">
                            <a href="/projects/ongoingprojects">Davam edən Proyektlər</a>
                            <a href="/projects/finishedprojects">Bitmiş Proyektlər</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/products">Məhsullar</a>
                        <div class="bg"></div>
                    </div>
                </li>
            </ul>
            <a class="cta" href="/contacts"><button class=" text-light my-4">Əlaqə</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block page %}
<section id="contacts-content">
    <div class="head">
        <div class="container">
            <h2>Əlaqə məlumatları</h2>
            <div class="location">
                <a href="/">Əsas səhifə</a>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Əlaqə</p>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row my-3r">
            <div class="col-6">
                <div class="contact-form my-7">
                    <div class="container">
                        <h1>Əlaqə Formu</h1>
                            <form action="/contacts/send_message" method="POST">
                                <div class="form-group my-3">
                                    <input type="text" class="form-control mt-2" name="name" placeholder="Adınız və Soyadınız">
                                </div>
                                <div class="form-group my-3">
                                  <input type="email" class="form-control  mt-2" name="email" placeholder="Email">
                                </div>                                    
                                <div class="form-group my-3">
                                    <input type="text" class="form-control mt-2" name="subject" placeholder="Mövzu">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control mb-3" name="message" cols="30" rows="15" placeholder="Mesajınız"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Göndər</button>
                              </form>
                        </div>
                    </div>
                
            </div>
            <div class="col-6">
                <div class="map">
                    <iframe src="{{data.gm_location}}"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-data ">
                    <h2 class="data-title">
                        Əlaqə məlumatları
                    </h2>
                    <div class="sub-items">
                        <h4 class="d-inline">Telefon : </h4> {{data.telephone}}
                    </div>
                    <div class="sub-items">
                        <h4 class="d-inline">E-mail : </h4> {{data.e_mail}}
                    </div><div class="sub-items">
                        <h4 class="d-inline">İş vaxtı : </h4> {{data.working_time}}
                    </div><div class="sub-items">
                        <h4 class="d-inline">Ünvan : </h4> {{data.location}}
                    </div>
                </div></div>
        </div>
    </div>
</section>
{% endblock %}
    
    