{% extends "view/base.html" %}
{% block title %}
Bitmiş Layihələr
{% endblock %}
{% block navBar %}
<div id="navbar">
    <div class="container">
        <div class="nav-items">
            <img class="logo" src="/view/static/view/img/logo_transparent2.png" alt="">
            <ul class="nav-links d-flex justify-content-end bootstrap-off">
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/">Əsas Səhifə</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/about">Haqqımızda</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/services">Xidmətlər</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li class="dd-effect">
                    <div class="link-container">
                        <a class="bootstrap-off" href="#">Proyektlər</a>
                        <div class="down-icon"><i class="fas fa-angle-down fa-lg"></i></div>
                        <div class="bg"  style="width: 90%!important;"></div>
                        <div class="dropdown-content">
                            <a href="/projects/ongoingprojects">Davam edən Proyektlər</a>
                            <a href="/projects/finishedprojects">Bitmiş Proyektlər</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/products">Məhsullar</a>
                        <div class="bg"></div>
                    </div>
                </li>
            </ul>
            <a class="cta" href="/contacts"><button class=" text-light my-4">Əlaqə</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block page %}
<section id="projects-content">
    <div class="head">
        <div class="container">
            <h2>Tamamlanmış Layihələr</h2>
            <div class="location">
                <a href="/">Əsas səhifə</a>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Layihələr</p>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Tamamlanmış Layihələr</p>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>{{finProject.title}}</p>
            </div>
        </div>   
    </div>
    <div id="details-fproject">
        <div class="container">
            <div class="row">
                <div class="col-4 featured">
                    <img class="featured-img" src="/view/static/view/uploads/{{finProject.image}}" alt="">
                    <h2 class="featured-title">{{finProject.title}}</h2>
                    <div class="featured-details">
                        {% if finProject.start_time != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Başlama tarixi : 
                            </p>
                            <p class="detail-content">
                                {{finProject.start_time}}
                            </p>
                        </div>  
                        {% endif %}
                        {% if finProject.finish_time != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Bitmə tarixi : 
                            </p>
                            <p class="detail-content">
                                {{finProject.finish_time}}
                            </p>
                        </div>  
                        {% endif %}
                        {% if finProject.area != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Sahəsi : 
                            </p>
                            <p class="detail-content">
                                {{finProject.area}}
                            </p>
                        </div>  
                        {% endif %}
                        {% if finProject.cost != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Dəyəri : 
                            </p>
                            <p class="detail-content">
                                {{finProject.cost}}
                            </p>
                        </div>  
                        {% endif %}
                        {% if finProject.location != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Ünvan : 
                            </p>
                            <p class="detail-content">
                                {{finProject.location}}
                            </p>
                        </div>  
                        {% endif %}
                    </div>
                </div>
                <div class="col-7 images">
                    <img src="img/2.jpg" alt="" class="other-images">
                    <img src="img/3.jpg" alt="" class="other-images">
                    <img src="img/4.jpg" alt="" class="other-images">
                </div>
            </div>
        </div>
    </div>       
</section>
{% endblock %}