{% extends "view/base.html" %}
{% block title %}
Davam Edən Layihələr
{% endblock %}
{% block navBar %}
<div id="navbar">
    <div class="container">
        <div class="nav-items">
            <img class="logo" src="/view/static/view/img/logo_transparent2.png" alt="">
            <ul class="nav-links d-flex justify-content-end bootstrap-off">
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/">Əsas Səhifə</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/about">Haqqımızda</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/services">Xidmətlər</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li class="dd-effect">
                    <div class="link-container">
                        <a class="bootstrap-off" href="#">Proyektlər</a>
                        <div class="down-icon"><i class="fas fa-angle-down fa-lg"></i></div>
                        <div class="bg"  style="width: 90%!important;"></div>
                        <div class="dropdown-content">
                            <a href="/projects/ongoingprojects">Davam edən Proyektlər</a>
                            <a href="/projects/finishedprojects">Bitmiş Proyektlər</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/products">Məhsullar</a>
                        <div class="bg"></div>
                    </div>
                </li>
            </ul>
            <a class="cta" href="/contacts"><button class=" text-light my-4">Əlaqə</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block page %}
<section id="projects-content">
    <div class="head">
        <div class="container">
            <h2>Davam edən Layihələr</h2>
            <div class="location">
                <a href="/">Əsas səhifə</a>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Layihələr</p>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Davam edən Layihələr</p>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>{{ongProject.title}}</p>
            </div>
        </div>   
    </div>
    <div id="details-ogproject">
        <div class="container">
            <div class="row">
                <div class="col-4 featured">
                    <img class="featured-img" src="/view/static/view/uploads/{{featured_image}}" alt="">
                    <h2 class="featured-title">{{ongProject.title}}</h2>
                    <div class="featured-details">
                        {% if ongProject.start_time != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Başlama tarixi : 
                            </p>
                            <p class="detail-content">
                                {{ongProject.start_time}}
                            </p>
                        </div>  
                        {% endif %} 
                        {% if ongProject.progress != None %}
                        <div class="detail">
                            <p class="detail-title">
                                İrəliləmə faizi : 
                            </p>
                            <p class="detail-content">
                                {{ongProject.progress}}
                            </p>
                        </div>  
                        {% endif %}
                        {% if ongProject.location != None %}
                        <div class="detail">
                            <p class="detail-title">
                                Ünvan : 
                            </p>
                            <p class="detail-content">
                                {{ongProject.location}}
                            </p>
                        </div>  
                        {% endif %}
                    </div>
                </div>
                <div class="col-7 images">
                    {% for image in ongProject.images %}
                    {% if ongProject.images.index(image) != 0 %}
                    <img src="/view/static/view/uploads/{{image.filename}}" alt="" class="other-images">
                    {% endif %}
                    {% endfor %}
                    {{ongProject.description|safe}}
                </div>
            </div>
        </div>
    </div>       
</section>
{% endblock %}