{% extends "view/base.html" %}
{% block title %}
İnşaat Firması
{% endblock %}
{% block navBar %}
<div id="navbar">
    <div class="container">
        <div class="nav-items">
            <img class="logo" src="/view/static/view/img/logo_transparent2.png" alt="">
            <ul class="nav-links d-flex justify-content-end bootstrap-off">
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/">Əsas Səhifə</a>
                        <div class="bg" style="width: 90%!important;"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/about">Haqqımızda</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/services">Xidmətlər</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li class="dd-effect">
                    <div class="link-container">
                        <a class="bootstrap-off" href="#">Proyektlər</a>
                        <div class="down-icon"><i class="fas fa-angle-down fa-lg"></i></div>
                        <div class="bg"></div>
                        <div class="dropdown-content">
                            <a href="/projects/ongoingprojects">Davam edən Proyektlər</a>
                            <a href="/projects/finishedprojects">Bitmiş Proyektlər</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/products">Məhsullar</a>
                        <div class="bg"></div>
                    </div>
                </li>
            </ul>
            <a class="cta" href="/contacts"><button class=" text-light my-4">Əlaqə</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block page %}
<section id="header">
    <div class="container">
        <div class="box">
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <div class="box-ch-contents">
                {% for hSlide in hSlides %}
                {% if hSlides.index(hSlide) == 0 %}
                <div class="box-ch-content active">
                    <img src="/view/static/view/uploads/{{hSlide.image}}" alt="" class="img-fluid">
                    <div class="box-overlay"></div>
                    <div class="box-name">{{hSlide.title}}</div>
                    <div class="box-text">{{hSlide.description}}</div>
                    <a href="{{hSlide.read_more_url}}"><button class="read-more">Ətraflı Məlumat...</button></a>
                </div>
                {% else %}
                <div class="box-ch-content">
                    <img src="/view/static/view/uploads/{{hSlide.image}}" alt="" class="img-fluid">
                    <div class="box-overlay"></div>
                    <div class="box-name">{{hSlide.title}}</div>
                    <div class="box-text">{{hSlide.description}}</div>
                    <a href="{{hSlide.read_more_url}}"><button class="read-more">Ətraflı Məlumat...</button></a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="left-slide"><i class="fas fa-angle-left fa-2x"></i></div>
            <div class="right-slide"><i class="fas fa-angle-right fa-2x"></i></div>
        </div>
        <hr>
    </div>
</section>
<section id="new-project">
    <div class="container">
        <div class="content">
            <div class="text">
                <h3>Yeni proyektlərə hazırlaşırsınız?</h3>
                <p>İlk öncə bizim təklif etdiyimiz xidmətlərlə nəzər yetirin.</p>
            </div>
            <a href="/services"><button class="btn-services">Xidmətlər</button></a>
        </div>
    </div>
</section>
<section id="statistics">
    <div class="container">
        <div class="statistitics-content">
            <div class="col-6 left-content">
                <img src="/view/static/view/uploads/{{statistic.image}}" alt="">
            </div>
            <div class="col-6 right-content">
                <div class="statistics-text">
                    <h3>Azərbaycanın tikinti şirkəti</h3>
                    <h2>{{statistic.title}}</h2>
                    <p>{{statistic.description}}</p>
                    <div class="statistic-data">
                        <div class="statistic-container">
                            <div class="changable-data">{{statistic.static_value}}+</div>
                            <div class="static">Xoşbəxt müştəri</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="projectsInIndex">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>İcra etdiyimiz proyektlər</h3>
                <h2>Tamamlanmış son layihələrimiz</h2>
            </div>
            <div class="col-2 offset-4">
                <a href="/projects/finishedprojects"><button class="show-all">Hamısına baxın</button></a>                
            </div>
        </div>
        <div class="col-1">
            <hr>
        </div>
        <div class="projects-slider">
            <div class="owl-carousel owl-theme">
                {% for fProject in fProjects %}
                <div class="item"><img src="/view/static/view/uploads/{{fProject.image}}" alt=""></div>
                {% endfor %}
            </div>
        </div>
</section>
<section id="principles">
    <div class="content">
        <h3>Üstünlüklərimiz</h3>
        <h1>Əsas iş prinsiplərimiz</h1>
        <div class="boxes">
            {% for principle in principles %}
            <div class="box">
                <div class="photo-section"><img src="/view/static/view/uploads/{{principle.image}}" alt=""></div>
                <div class="principle-title">{{principle.title}}</div>
                <p class="principle-text">{{principle.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="partnersInIndex">
    <div class="container">
        <h3>Əməkdaşlıq etdiklərimiz</h3>
        <h2>Birgə çalışdığımız şirkətlər</h2>
        <div class="col-1">
            <hr>
        </div>
        <div class="partners-slider">
            <div class="owl-carousel owl-theme">
                {% for partner in partners %}
                <div class="item"><img src="/view/static/view/uploads/{{partner.img}} " onerror="this.src='/view/static/view/img/default_image.png'" alt=""></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}