{% extends "view/base.html" %}
{% block title %}
Davam edən Layihələr
{% endblock %}
{% block navBar %}
<div id="navbar">
    <div class="container">
        <div class="nav-items">
            <img class="logo" src="/view/static/view/img/logo_transparent2.png" alt="">
            <ul class="nav-links d-flex justify-content-end bootstrap-off">
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/">Əsas Səhifə</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/about">Haqqımızda</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/services">Xidmətlər</a>
                        <div class="bg"></div>
                    </div>
                </li>
                <li class="dd-effect">
                    <div class="link-container">
                        <a class="bootstrap-off" href="#">Proyektlər</a>
                        <div class="down-icon"><i class="fas fa-angle-down fa-lg"></i></div>
                        <div class="bg" style="width: 90%!important;"></div>
                        <div class="dropdown-content">
                            <a href="/projects/ongoingprojects">Davam edən Proyektlər</a>
                            <a href="/projects/finishedprojects">Bitmiş Proyektlər</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="link-container">
                        <a class="bootstrap-off" href="/products">Məhsullar</a>
                        <div class="bg"></div>
                    </div>
                </li>
            </ul>
            <a class="cta" href="/contacts"><button class=" text-light my-4">Əlaqə</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block page %}
<section id="projects-content">
    <div class="head">
        <div class="container">
            <h2>Davam Edən Layihələr</h2>
            <div class="location">
                <a href="/">Əsas səhifə</a>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Layihələr</p>
                <i class="fas fa-angle-right fa-lg"></i>
                <p>Davam Edən Layihələr</p>
            </div>
        </div>
    </div>
    <div id="ongoingProjects">
        <div class="ogprojects">
            <div class="container">
                <div class="row">
                    {% for ongProject in ongProjects %}
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="ogproject">
                            <div class="img-section">
                                <a href="/projects/ongoingprojects/{{ongProject.slugified_title}}">
                                    <img src="/view/static/view/uploads/{{ongProject.images[0].filename}}" alt="">
                                </a>
                            </div>
                            <div class="details">
                                <div class="ogproject-title">
                                    <a href="/projects/ongoingprojects/{{ongProject.slugified_title}}">
                                        <h2>
                                            {{ongProject.title}}
                                        </h2>
                                    </a>
                                </div>
                                <div class="ogproject-progress">
                                    <div id="progress">
                                        <div id="bar{{ongProject.id}}" class="bar">
                                            <div class="detail">
                                                {{ongProject.progress}}%
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    function run(barId,value){
    const myBar = document.getElementById(barId);
    let width = 0;
    const detail = myBar.childNodes[1];
    let timeInt = setInterval(frame, 20);
    function frame() {
        if (width >= value) {
            clearInterval(timeInt);
        } else {
            if(value > 10){
                detail.style.right = 5 +'px'
            }
            width+=1;
            
            myBar.style.width = width + '%';
        }
    }
}
let projects = {{data|safe}}
for(var bar in projects){
    run(bar,projects[bar]);
}
</script>
{% endblock %}