#faq-contact{
    font-size: 1.6rem;
    .faq,.contact{
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 30px;
        h3{
            text-align: center;
            font-weight: 500;
            font-size: 2rem;
        }
    }
}