@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
#navbar {
  position: fixed;
  width: 100%;
  background: #fff;
  font-size: 1.6rem;
  padding: 10px 10%;
  z-index: 15;
}

#navbar .logo {
  cursor: pointer;
  margin-right: auto;
}

#navbar img {
  height: 100px;
}

#navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navbar .nav-links {
  padding: 25px 0px;
  list-style: none;
}

#navbar .nav-links li {
  display: inline-block;
  padding: 0px 15px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navbar .nav-links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#navbar .nav-links li .link-container {
  position: relative;
  display: inline-block;
}

#navbar .nav-links li .bg {
  position: absolute;
  bottom: -5px;
  left: -4px;
  border-radius: 50px;
  width: 25%;
  height: 25%;
  z-index: 0;
  background-color: #FFE538;
  background-image: linear-gradient(147deg, #edf0f1 0%, #0088a9 85%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#navbar .nav-links li .link-container a:hover ~ .bg {
  width: 85%;
}

#navbar .nav-links .dd-effect:hover .dropdown-content {
  display: block;
}

#navbar .nav-links .dd-effect:hover .down-icon {
  color: #0088a9;
}

#navbar .nav-links li a:hover {
  color: #0088a9;
}

#navbar button {
  margin-left: 20px;
  padding: 9px 25px;
  color: #fff;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#navbar button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

#navbar li, #navbar a, #navbar button {
  color: #303841;
}

.top-nav-bar {
  font-weight: 500;
  font-size: 1.6rem;
  background: #3A4750;
  color: #ffffff;
  padding: 10px 0px;
}

.top-nav-bar .top-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav-bar ul {
  list-style: none;
  color: #ffffff;
}

.top-nav-bar ul li {
  display: inline-block;
  padding: 5px;
}

.top-nav-bar ul a {
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

.down-icon {
  display: inline-block;
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
  color: #303841;
}

#header {
  height: 100rem;
  padding-top: calc(174px + 1rem);
  font-size: 1.6rem;
  z-index: 1;
}

#header .img-fluid {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: zoom 1s ease;
          animation: zoom 1s ease;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#header .box {
  position: relative;
  height: 700px;
  overflow: hidden;
  margin-bottom: 30px;
}

#header .box .left-slide, #header .box .right-slide {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: #fff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#header .box .right-slide {
  right: 30px;
}

#header .box .left-slide {
  left: 30px;
}

#header .box-ch-content {
  display: none;
}

#header .box-ch-content.active {
  display: block;
}

#header .box-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#header .box-name {
  position: absolute;
  top: 12rem;
  left: 7rem;
  font-size: 2.5rem;
  color: #f2f2f2;
  z-index: 3;
}

#header .read-more {
  position: absolute;
  bottom: 20rem;
  left: 15rem;
  padding: 9px 25px;
  background: #F6C90E;
  color: #f2f2f2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 3;
}

#header .read-more:hover {
  background: #19160B;
  color: #f2f2f2;
}

#header #myProgress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #ddd;
  z-index: 3;
}

#header #myBar {
  width: 0%;
  height: 20px;
  line-height: 20px;
  background: #b8b8bb;
  text-align: center;
  color: #fff;
  z-index: 3;
}

#new-project {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

#new-project .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#new-project h3 {
  font-size: 3rem;
}

#new-project button {
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  background: #F6C90E;
  color: #f2f2f2;
}

#footer {
  font-size: 1.6rem;
  color: #888888;
}

#footer .footer-logo {
  height: 110px;
  width: auto;
}

#footer .footer-logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer h4 {
  color: #000;
  padding: 10px 0px;
  margin-bottom: 10px;
}

#footer .col-content {
  padding: 0px 15px;
}

#footer a {
  color: #888888;
}

#footer ul li {
  padding-bottom: 5px;
}

#copyright {
  background: #303841;
  color: #f2f2f2;
  margin-top: 10px;
  padding: 10px 15px;
}

#copyright .cr-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

html {
  font-size: 10px;
}

body {
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #EEEEEE;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none !important;
}

a {
  cursor: pointer;
}

.bootstrap-off {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

.faded {
  color: #BEBEBE;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */