@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
#navbar {
  position: fixed;
  width: 100%;
  background: #fff;
  font-size: 1.6rem;
  padding: 10px 10%;
  z-index: 15;
}

#navbar .logo {
  cursor: pointer;
  margin-right: auto;
}

#navbar img {
  height: 100px;
}

#navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navbar .nav-links {
  padding: 25px 0px;
  list-style: none;
}

#navbar .nav-links li {
  display: inline-block;
  padding: 0px 15px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navbar .nav-links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#navbar .nav-links li .link-container {
  position: relative;
  display: inline-block;
}

#navbar .nav-links li .bg {
  position: absolute;
  bottom: -5px;
  left: -4px;
  border-radius: 50px;
  width: 25%;
  height: 25%;
  z-index: 0;
  background-image: linear-gradient(147deg, #edf0f1 0%, #0088a9 85%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#navbar .nav-links li .link-container a:hover ~ .bg {
  width: 85%;
}

#navbar .nav-links .dd-effect:hover .dropdown-content {
  display: block;
}

#navbar .nav-links .dd-effect:hover .down-icon {
  color: #0088a9;
}

#navbar .nav-links li a:hover {
  color: #0088a9;
}

#navbar button {
  margin-left: 20px;
  padding: 9px 25px;
  color: #fff;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#navbar button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

#navbar li, #navbar a, #navbar button {
  color: #303841;
}

#navbar .active ~ .bg {
  width: 85%;
}

.top-nav-bar {
  font-weight: 500;
  font-size: 1.6rem;
  background: #3A4750;
  color: #ffffff;
  padding: 10px 0px;
}

.top-nav-bar .top-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav-bar ul {
  list-style: none;
  color: #ffffff;
}

.top-nav-bar ul li {
  display: inline-block;
  padding: 5px;
}

.top-nav-bar ul a {
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

.down-icon {
  display: inline-block;
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
  color: #303841;
}

#header {
  height: 100rem;
  padding-top: calc(174px + 1rem);
  font-size: 1.6rem;
  margin-bottom: -4rem;
  z-index: 1;
}

#header .img-fluid {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: zoom 1.5s ease;
          animation: zoom 1.5s ease;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#header .box {
  position: relative;
  height: 700px;
  overflow: hidden;
  margin-bottom: 30px;
}

#header .box .left-slide, #header .box .right-slide {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: #fff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#header .box .right-slide {
  right: 30px;
}

#header .box .left-slide {
  left: 30px;
}

#header .box-ch-content {
  display: none;
}

#header .box-ch-content.active {
  display: block;
}

#header .box-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}

#header .box-name {
  position: absolute;
  top: 12rem;
  left: 7rem;
  font-size: 2.5rem;
  color: #f2f2f2;
  z-index: 3;
}

#header .read-more {
  position: absolute;
  bottom: 20rem;
  left: 15rem;
  padding: 15px 25px;
  background: #F6C90E;
  color: #f2f2f2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 3;
}

#header .read-more:hover {
  background: #19160B;
  color: #f2f2f2;
}

#header #myProgress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #ddd;
  z-index: 3;
}

#header #myBar {
  width: 0%;
  height: 20px;
  line-height: 20px;
  background: #b8b8bb;
  text-align: center;
  color: #fff;
  z-index: 3;
}

#new-project {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

#new-project .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

#new-project h3 {
  font-size: 3rem;
}

#new-project .btn-services {
  padding: 5px 40px;
  border-radius: 5px;
  border: none;
  background: #F6C90E;
  color: #f2f2f2;
}

#new-project .btn-services:hover {
  background: #2A2F35;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#principles {
  font-size: 1.6rem;
  margin-bottom: 60px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background-image: url("../img/principles-bg.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#principles .content {
  margin-top: 100px;
  width: 50%;
  margin-right: 200px;
  text-align: center;
}

#principles .content .boxes {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#principles .content .boxes .box {
  background: #fff;
  margin: 10px;
  padding: 15px;
}

#principles .content .boxes .box .photo-section {
  margin: 15px auto;
  background: #B8B8B8;
  height: 75px;
  width: 75px;
}

#partners {
  margin-bottom: 30px;
}

#partners h3 {
  font-weight: 400;
}

#partners .partners-slider {
  width: 1170px;
  position: relative;
  margin: 0px auto;
}

#partners .partners-slider img {
  cursor: pointer;
}

#partners .partners-slider .owl-prev {
  position: absolute;
  top: 50%;
  left: -2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#partners .partners-slider .owl-next {
  position: absolute;
  top: 50%;
  right: -3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#partners .partners-slider i {
  font-size: 3em;
}

#statistics {
  font-size: 1.6rem;
  padding: 25px 0px;
}

#statistics .statistitics-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#statistics img {
  width: 100%;
}

#statistics .left-content {
  padding-right: 20px;
}

#statistics .ritht-content {
  padding-left: 20px;
}

#statistics .statistic-data {
  border: 1px solid gray;
  background: #f2f2f2;
  margin: 20px 0px;
  padding: 25px 20px;
}

#statistics .statistic-data .statistic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#statistics .statistic-data .statistic-container .changable-data {
  font-size: 4rem;
  font-weight: 500;
  display: inline-block;
}

#statistics .statistic-data .statistic-container .static {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 2rem;
  color: #7c7a7a;
  display: inline-block;
}

#faq-contact {
  font-size: 1.6rem;
}

#faq-contact .faq, #faq-contact .contact {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#faq-contact .faq h3, #faq-contact .contact h3 {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

#footer {
  font-size: 1.6rem;
  color: #888888;
}

#footer .footer-logo {
  height: 110px;
  width: auto;
}

#footer .footer-logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer h4 {
  color: #000;
  padding: 10px 0px;
  margin-bottom: 10px;
}

#footer .col-content {
  padding: 0px 15px;
}

#footer a {
  color: #888888;
}

#footer ul li {
  padding-bottom: 5px;
}

#copyright {
  background: #303841;
  color: #f2f2f2;
  margin-top: 10px;
  padding: 10px 15px;
}

#copyright .cr-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

#about-content {
  padding-top: 120px;
  font-size: 1.6rem;
}

#about-content .head {
  color: #fff;
  padding: 20px 0px;
  background: #302277;
}

#about-content .head h2 {
  padding: 0px 10px;
  font-size: 2.5rem;
}

#about-content .head .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-content .head .location i {
  color: orange;
  padding: 5px 5px;
}

#about-content .head .location a {
  padding: 0px 7.5px;
  color: #fff;
}

#about-content .head .location p {
  padding: 0px 7.5px;
}

#about-content .content .heading {
  margin: 25px;
}

#about-content .content .heading h2 {
  font-size: 2.5rem;
  color: #01abdf;
  font-weight: 400;
}

#about-content .content .heading h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

#about-content .content .about-text {
  padding-left: 15px;
}

#about-content .content .img-section {
  padding-right: 15px;
  width: 100%;
}

#about-content .content .img-section img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-content .content .about-text,
#about-content .content .img-section {
  margin: 30px 0px;
}

#about-content .about-items {
  margin: 20px 0px;
}

#about-content .about-items .item-box {
  padding: 15px;
  height: 350px;
  background: #ddd;
  margin: 0px 15px;
}

#about-content .about-items .item-box .img-sec {
  margin: 10px auto;
  height: 50px;
  width: 50px;
  background: gray;
}

#about-content .about-items .item-box .title {
  padding: 15px 10px;
  text-align: center;
}

#about-content .about-items .item-box .description {
  padding-left: 10px;
}

#contacts-content {
  padding-top: 120px;
  height: 1500px;
  background: gray;
  color: #fff;
  font-size: 1.6rem;
}

#contacts-content .head {
  padding: 20px 0px;
  background: #302277;
}

#contacts-content .head h2 {
  padding: 0px 10px;
  font-size: 2.5rem;
}

#contacts-content .head .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts-content .head .location i {
  color: orange;
  padding: 5px 5px;
}

#contacts-content .head .location a {
  padding: 0px 7.5px;
  color: #fff;
}

#contacts-content .head .location p {
  padding: 0px 7.5px;
}

#products-content {
  padding-top: 120px;
  height: 1500px;
  background: gray;
  color: #fff;
  font-size: 1.6rem;
}

#products-content .head {
  padding: 20px 0px;
  background: #302277;
}

#products-content .head h2 {
  padding: 0px 10px;
  font-size: 2.5rem;
}

#products-content .head .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#products-content .head .location i {
  color: orange;
  padding: 5px 5px;
}

#products-content .head .location a {
  padding: 0px 7.5px;
  color: #fff;
}

#products-content .head .location p {
  padding: 0px 7.5px;
}

#projects-content {
  padding-top: 120px;
  height: 1500px;
  background: gray;
  color: #fff;
  font-size: 1.6rem;
}

#projects-content .head {
  padding: 20px 0px;
  background: #302277;
}

#projects-content .head h2 {
  padding: 0px 10px;
  font-size: 2.5rem;
}

#projects-content .head .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects-content .head .location i {
  color: orange;
  padding: 5px 5px;
}

#projects-content .head .location a {
  padding: 0px 7.5px;
  color: #fff;
}

#projects-content .head .location p {
  padding: 0px 7.5px;
}

#services-content {
  padding-top: 120px;
  height: 1500px;
  background: gray;
  color: #fff;
  font-size: 1.6rem;
}

#services-content .head {
  padding: 20px 0px;
  background: #302277;
}

#services-content .head h2 {
  padding: 0px 10px;
  font-size: 2.5rem;
}

#services-content .head .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services-content .head .location i {
  color: orange;
  padding: 5px 5px;
}

#services-content .head .location a {
  padding: 0px 7.5px;
  color: #fff;
}

#services-content .head .location p {
  padding: 0px 7.5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

html {
  font-size: 10px;
}

body {
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #EEEEEE;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none !important;
}

a {
  cursor: pointer;
}

.bootstrap-off {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

.faded {
  color: #BEBEBE;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */