#services-content{
    padding-top: 120px;
    height: 1500px;
    background: gray;
    color: #fff;
    font-size: 1.6rem;
    .head{
        padding: 20px 0px;
        background: #302277;
        h2{
            padding: 0px 10px;
            font-size: 2.5rem;
        }
        .location{
            display: flex;
            i{
                color: orange;
                padding: 5px 5px;
            }
            a{
                padding: 0px 7.5px;
                color: #fff;
            }
            
            p{
                padding: 0px 7.5px;
            }
        }
    }
    
}