#partners{
    margin-bottom: 30px;
    h3{
        font-weight: 400;
    }
    .partners-slider{
        width: 1170px;
        position: relative;
        margin: 0px auto;
        img{
            cursor: pointer;
        }
        .owl-prev{
            position: absolute;
            top: 50%;
            left: -2%;
            transform: translate(-50%, -50%);
        }
        .owl-next{
            position: absolute;
            top: 50%;
            right: -3%;
            transform: translate(-50%, -50%);
        }
        i{
            font-size: 3em;
            // color: #fff;
        }

    }
    // img:hover{
    //     animation: zoom 2s ease;
    // }
    // @keyframes zoom{
    //     0%{transform: scale(1.15); opacity: 0;}
    //     50%{transform: scale(1); opacity: 1;}
    // }
    
}